.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1080px;
  margin: 40px auto;

  .field {
    margin-bottom: 30px;
    width: 100%;
  }
  
  .button {
    background: #fff;
    border: solid 1px #0DCA99;
    width: 100%;

    &:hover { background: #ececec }

    span { color: #0DCA99}

    &.action {
      background: #0DCA99;

      span { color: #fff}

    }
  }
}