.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1080px;
  margin: 40px auto;

  .field {
    width: 100%;

    label {
      color: #8B8B8B;
      opacity: 0.7;

      &[class*="223"] {
        transform: translate(0, 2.5px) scale(0.75);
      }

      &[class*="219"] {
        color: #8B8B8B;
      }

      &[class*="231"]:not([class*="219"]) + div .check {
        display: flex;
      }
    }

    > div {
      font-size: 15px;
      margin-bottom: 12px;

      &:hover::before { border-width: 1px !important; }

      .check {
        color: #7BE115;
        display: none;
      }

      &:after {
        border-color: #7BE115;
        border-width: 1px;
      }

      &[class*="239"]:after {
        border-color: #f44336;
      }
    }

    p {
      text-align: right;
      font-size: 10px;
      margin-top: -10px;
    }
  }
  
  .button {
    background: #fff;
    border: solid 1px #7BE115;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    font-size: 12px;

    &:hover { background: #ececec }

    span { color: #7BE115}

    &.action {
      background: #7BE115;

      span { color: #fff}
    }
  }

  .field-error {
    font-size: 10px;
    margin-top: -10px;
    color: #f44336;
    font-family: 'Open Sans', sans-serif;
  }
}
.radio-group {
  margin-bottom: 5px;

  label.control-label {
    span.radio {
      padding: 10px 5px;
      margin-left: 7px;
      svg {
        height: 16px;
        width: 16px;
      }
    }

    span:last-child {
      color: #8B8B8B;
      font-size: 14px;
      font-family: 'Nunito', sans-serif;
    }
  }
}
