.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1080px;
  margin: 40px auto;

  .field {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .button {
    background: #fff;
    border: solid 1px #7BE115;
    width: 100%;
    border-radius: 0;
    box-shadow: none;

    &:hover { background: #ececec }

    span { color: #7BE115}

    &.action {
      background: #7BE115;

      span { color: #fff}

    }
  }
}