.employe-address {
  display: flex;
  flex-direction: column;
  margin: 55px auto;

  h2.title {
    margin-bottom: 10px;
  }

  p.same-location-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
  }
}