.flow-guide-container {
  background: #F6F6F6;
  border-right: solid 1px #E8E8E8;
  height: calc(100vh - 99px);

  &:before {
    content: '';
    display: block;
    position: fixed;
    height: 100%;
    width: 35vw;
    left: 0;
    z-index: -1;
    background: #F6F6F6;
    border-right: solid 1px #E8E8E8;
  }

  .flow-guide-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    h2.subtitle { margin-bottom: 15px }

    h3.subtitle.minor {
      color: #8B8B8B;
      margin-bottom: 45px;
    }

    .flow-guide-stepper {
      background: transparent;

      > div {
        &[class*="Connector"] {
          padding: 0;
          
          span { height: 35px }
        }

        &[class*="completed"], &[class*="active"] {
          > span {
            border-color: #7BE115;
          }

          .flow-guide-step-name > span:first-of-type::before {
            background-color: #7BE115 !important;
            border-color: #7BE115;
          }
        }

        &:first-child, &[class*="active"] + div {
          .flow-guide-step-name > span:first-of-type::before {
            background-color: transparent;
            border-color: #7BE115;
          }
        }

        .flow-guide-step-name {
          line-height: 10px;

          svg { display: none }

          span {
            line-height: 12px;
          }

          > span:first-of-type {
            padding-right: 32px;

            &::before {
              content: '';
              display: inline-block;
              position: relative;
              width: 9px;
              height: 9px;
              background-color: #D1D1D1;
              border: solid 2px #D1D1D1;
              border-radius: 9px;
              margin-left: 6px;
            }
          }
        }
        .flow-guide-step-content {
          margin-top: 0;
          padding-left: 38px;
        }
      }
    }
  }
}
